@import '../../../style/abstract/variables';

main{ 
    @include container(); 
    .product__container{
        position: relative;
        display: flex;
        justify-content: space-between;  
        .product__menu{
            display: flex;
            align-items: center;            
        }        
    }
    .product__showAll{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-decoration-line: underline;
        color: $color-yellow;
   }
    @media (max-width: $breakpoint) {
        margin: 0 10px;
        .arrow{
            display: none;
        }
    }
}
