@import './variables';

@mixin arrows {
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    padding: 5px;
    color: $color-gray;
    background-color: white;
    box-shadow: 0px 6px 16px rgba(179, 134, 0, 0.24);
}