//colors
$color-yellow: #FBB900;
$color-yellow2: #F0D075;
$color-gray: #9F9F9F;
$color-black: #4D4D4D;

//fonts
$main-font: 'Poppins', sans-serif;

//fonst size
$banner-title: 40px;
$sections-title: 32px;
$blog-post-title: 20px;


 