//colors
$color-yellow: #FBB900;
$color-yellow2: #F0D075;
$color-gray: #9F9F9F;
$color-black: #4D4D4D;

//fonts
$main-font: 'Poppins', sans-serif;

//fonst size
$banner-title: 40px;
$sections-title: 32px;
$blog-post-title: 20px;


//breacpoints
$breakpoint: 760px;

//mixinss

@mixin arrows {
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    padding: 5px;
    color: $color-gray;
    background-color: white;
    box-shadow: 0px 6px 16px rgba(179, 134, 0, 0.24);
}