@import '../../style/abstract/variables';

.categories__container{
    @include container();
    .left__arrow{
        @include arrows();
        top: 200px;
        left: -15px;
    }
    .rigth__arrow{
        @include arrows();
        top: 200px;
        right: -5px;
    }
    .categories__list{
        display: flex;
        gap: 40px;
        margin-top: 24px;
        text-align: center;
        position: relative;
        transition: 0.5s;
        z-index: 1;
        overflow: hidden;
        img{
            border-radius: 20px;
            max-width: 277px;
            max-height: 277px;
        }
        p{
            color: $color-gray;
        }
    }
    @media (max-width: $breakpoint) {

        margin: 80px 30px;
        .left__arrow{
            display: none;
        }
        .rigth__arrow{
            display: none;
        }
        .categories__list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            img{
                width: 100px;
            }
        }

}
}
