@import '../../../style/abstract/variables';

.headerSearch__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    .headerSearch__logo{
        height: 46px;
        max-width: 178px;
    }
    .headerSearch__search{
        position: relative;
        max-width: 657px;
        height: 48px;
        grid-column: span 2;     
        input{
            width: 100%;
            height: 100%;          
            outline: none;
            background: #FEF6E7;
            border-radius: 10px;
            border: none;            
            &::placeholder {
                padding: 0 24px;
            }
        }
        img{
            position: absolute;
            right: 16px;
            top: 10px;
        }
    }
    .headerSearch__icons{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .iconBox{
            margin-bottom: 20px;
            padding-left: 61px;
            @media (max-width: $breakpoint){
                display: none;
            }
        }
        .icon{
            height: 25px;
            width: 25px;
            padding-left: 39px; 
        }
    }
}
@media (max-width: $breakpoint) {
    .headerSearch__container{
        display: block;
        margin: 0 auto;
        text-align: center;
        .headerSearch__search{
            margin: 10px 0;
        }
        .headerSearch__icons{
            display: none;
        }
    }
}