.footer__info__container{
    padding: 0 56px;
    padding-top: 56px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: white;        
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    ul{
        li{
             list-style: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            padding-bottom: 15px;
        }
        .info__phone{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    
}
@media (max-width: 760px) {
    .footer__info__container{
        display: flex;
        flex-direction: column;
    }
}