@import '../../style/abstract/variables';


.partners__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 56px;
    gap: 30px; 
}
@media (max-width: $breakpoint) {
    .partners__container{
        flex-direction: column;
        padding: 0 20px;   
    }
}